<header class="site-header">
  <a class="wordmark" href="/" aria-label="ISIA Urbino Editorial Projects, homepage">
    ISIA Urbino
  </a>
  <p class="site-title">ISIA Urbino Editorial Projects</p>
</header>
